body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    color: white;
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

#boxcontainer {
    background-color: #17161b;
    width: 95%;
    padding: 35px;
    border-radius: 20px;
}

header {
    padding-bottom: 20px;
    border-bottom: 1px solid #80808029;
}

header, #icons {
    display: flex;
    justify-content: space-between;
}

#icons {
    gap: 20px;
}

#logo {
    width: 60px;
    height: auto;
}

#search, #hamburger {
    width: 48px;
    height: auto;
}

nav {
    display: none;
}

main {
    margin-top: 20px;
}

#index-container {
    display: grid;
}

#gender, #ramdom, #popular {
    border-top: 1px solid rgba(128, 128, 128, 0.16);
}

#latest, #gender, #ramdom, #popular {
    padding: 15px 15px 30px 15px;
}

footer {
    display: flex;
    justify-content: end;
}

@media screen and (min-width: 600px) {
   
    nav {
        display: inline;
    }
    nav ul {
        display: inline-flex;
        list-style: none;
        gap: 50px;
    }

    nav ul a {
        text-decoration: none;
        color: white;
    }

    nav ul a:hover {
        text-decoration: none;
        color: #FB75F9;
    }

    #hamburger {
        display: none;
    }

    #index-container {
        grid-template-columns: 35% 65%;
        border-top: 1px solid #80808029;
    }

    header {
        padding-bottom: 20px;
        border-bottom: none;
    }

    main {
        margin-top: 0px;
    }

    #gender, #latest {
        border-right: 1px solid #80808029;
    }

    #latest, #gender, #ramdom, #popular {
        padding: 20px 20px 40px 20px;
    }

    #gender {
        border-top: 1px solid #80808029;
        background-color: #1d1d1f;
    }
}
